# Problems 3-4 intro

One of the most typical problems in GIS is the situation where you have a set of coordinates in some file, and you need to map those. Python is a really handy tool for these kind of situations, as it is possible to read data from (basically) any kind of input datafile (such as csv-, txt-, excel-, gpx-files (gps data), databases etc.). 

Let's see how we can read data from a file and create Point -objects from them. Later on in the course, we will learn how to write the data in various GIS file formats (including Shapefiles and geopackages). 

Our dataset **[travelTimes_2015_Helsinki.txt](data/travelTimes_2015_Helsinki.txt)** consist of 
travel times between specific locations in Helsinki Region. The file is located in the `data` folder in this exercise repository. The first four rows of our data look like this:

```
   from_id;to_id;fromid_toid;route_number;at;from_x;from_y;to_x;to_y;total_route_time;route_time;route_distance
   5861326;5785640;5861326_5785640;1;08:10;24.9704379;60.3119173;24.8560344;60.399940599999994;125.0;99.0;22917.6
   5861326;5785641;5861326_5785641;1;08:10;24.9704379;60.3119173;24.8605682;60.4000135;123.0;102.0;23123.5
   5861326;5785642;5861326_5785642;1;08:10;24.9704379;60.3119173;24.865102;60.4000863;125.0;103.0;23241.3
```

In this exercise, we are interested in these columns:

| Column | Description |
|--------|-------------|
| from_x | x-coordinate of the **origin** location (longitude) |
| from_y | y-coordinate of the **origin** location (latitude) |
| to_x   | x-coordinate of the **destination** location (longitude)|
| to_y   | y-coordinate of the **destination** location (latitude) |
| total_route_time | Travel time with public transportation at the route |

More information about the input data set is available at the Digital Geography Lab / Accessibility Research Group  website: https://blogs.helsinki.fi/accessibility/helsinki-region-travel-time-matrix/.




## Problem 3: Reading coordinates from a file and creating geometries (*5 points*) 

In problem 3, our goal is to read in the data using Pandas and create two lists `orig_points`and `dest_points` that contain the origin points (based on columns `from_x` and `from_y`) and destination points (based on columns `to_x` and `to_y`) as Shapely objects.

### Steps

1: Read the [data/travelTimes_2015_Helsinki.txt](data/travelTimes_2015_Helsinki.txt) file into a variable **`data`** using  pandas.

In [1]:
# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
import pandas as pd
data=pd.read_csv("data/travelTimes_2015_Helsinki.txt",sep=";")
data.tail

<bound method NDFrame.tail of        from_id    to_id      fromid_toid  route_number     at     from_x  \
0      5861326  5785640  5861326_5785640             1  08:10  24.970438
1      5861326  5785641  5861326_5785641             1  08:10  24.970438
2      5861326  5785642  5861326_5785642             1  08:10  24.970438
3      5861326  5785643  5861326_5785643             1  08:10  24.970438
4      5861326  5787544  5861326_5787544             1  08:10  24.970438
...        ...      ...              ...           ...    ...        ...
14638  5861326  5967091  5861326_5967091             1  08:06  24.970438
14639  5861326  5967092  5861326_5967092             1  08:06  24.970438
14640  5861326  5968733  5861326_5968733             1  08:06  24.970438
14641  5861326  5968734  5861326_5968734             1  08:06  24.970438
14642  5861326  5970374  5861326_5970374             1  08:06  24.970438

          from_y       to_x       to_y  total_route_time  route_time  \
0      60.311917  24.856034  60.399941             125.0        99.0
1      60.311917  24.860568  60.400014             123.0       102.0
2      60.311917  24.865102  60.400086             125.0       103.0
3      60.311917  24.869636  60.400159             129.0       107.0
4      60.311917  24.842582  60.397478             118.0        92.0
...          ...        ...        ...               ...         ...
14638  60.311917  24.559702  60.174754              94.0        72.0
14639  60.311917  24.564204  60.174837              97.0        75.0
14640  60.311917  24.555367  60.172428              89.0        66.0
14641  60.311917  24.559868  60.172511              93.0        71.0
14642  60.311917  24.555534  60.170185              89.0        67.0

       route_distance  route_total_lines
0             22917.6                2.0
1             23123.5                2.0
2             23241.3                2.0
3             23534.2                2.0
4             22428.2                2.0
...               ...                ...
14638         40702.8                2.0
14639         40915.0                2.0
14640         40305.9                2.0
14641         40628.0                2.0
14642         40359.2                2.0

[14643 rows x 13 columns]>

In [2]:
#Check how many rows and columns there are:
data.shape

(14643, 13)

In [3]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION

# This test print should print first five rows in the data (if not, something is incorrect):
print(data.head())

   from_id    to_id      fromid_toid  route_number     at     from_x  \
0  5861326  5785640  5861326_5785640             1  08:10  24.970438
1  5861326  5785641  5861326_5785641             1  08:10  24.970438
2  5861326  5785642  5861326_5785642             1  08:10  24.970438
3  5861326  5785643  5861326_5785643             1  08:10  24.970438
4  5861326  5787544  5861326_5787544             1  08:10  24.970438

      from_y       to_x       to_y  total_route_time  route_time  \
0  60.311917  24.856034  60.399941             125.0        99.0
1  60.311917  24.860568  60.400014             123.0       102.0
2  60.311917  24.865102  60.400086             125.0       103.0
3  60.311917  24.869636  60.400159             129.0       107.0
4  60.311917  24.842582  60.397478             118.0        92.0

   route_distance  route_total_lines
0         22917.6                2.0
1         23123.5                2.0
2         23241.3                2.0
3         23534.2                2.0
4         22428.2                2.0

2: Select the 4 columns that contain coordinate information (**'from_x'**, **'from_y'**, **'to_x'**, **'to_y'**) and store them in variable **`data`** (i.e. update the data -variable  to contain only these four columns).

In [4]:
# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
data=data.filter(['from_x','from_y','to_x','to_y'])
print(data.tail())

          from_x     from_y       to_x       to_y
14638  24.970438  60.311917  24.559702  60.174754
14639  24.970438  60.311917  24.564204  60.174837
14640  24.970438  60.311917  24.555367  60.172428
14641  24.970438  60.311917  24.559868  60.172511
14642  24.970438  60.311917  24.555534  60.170185

In [5]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION
print(list(data.columns))

['from_x', 'from_y', 'to_x', 'to_y']

3: Create two empty lists called **`orig_points`** and **`dest_points`**. We will store the shapely points in these lists in the next step.

In [6]:
# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
orig_points=[]
dest_points=[]

In [7]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION

# List length should be zero at this point:
print('orig_points length:', len(orig_points))
print('dest_points length:', len(dest_points))

orig_points length: 0
dest_points length: 0

4: Create shapely points for each origin and destination and add origin points to `orig_points` list and destination points to `dest_points` list.

- Create origin points based on columns `from_x` and `from_y`
- Create destination points based on columns `to_x` and `to_y`

**HOW?**

**Approach A:** 

- Create a for-loop and iterate over the rows of your dataframe
- For each row, create Shapely Point -objects based on the coordinate columns (columns `from_x` and `from_y` for the origins and columns `to_x` and `to_y` for the destinations)
- Append the point objects into the **`orig_points`** -list and **`dest_point`** -list.

See [Geo-Python Lesson 6 materials for iterating data frame fows](https://geo-python-site.readthedocs.io/en/latest/notebooks/L6/advanced-data-processing-with-pandas.html#iterating-over-rows) for more help.

**Approach B (advanced):**
- Apply the Shapely point constructor on each row all at once. 
    - Define your own function and apply it on the dataframe (in practice, the function is applied on each row). See [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html) for help.
    - Alternatively, you can apply the Polygon constructor directly using a lambda function, See hints e.g. [in here](https://towardsdatascience.com/apply-and-lambda-usage-in-pandas-b13a1ea037f7).
    - You can store the outputs either to new columns in the dataframe, or separate variables (Pandas Series objects)
- Convert outputs into lists and assign as values for `orign_points` and `dest_points` lists (data type needs to be a list for the next steps!).

In [8]:
# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
from shapely.geometry import Point, LineString, Polygon
for indx,rows in data.iterrows():
    print(rows)
    from_xy=Point(rows[0],rows[1])
    to_xy=Point(rows[2],rows[3])
    orig_points.append(from_xy)
    dest_points.append(to_xy)

from_x    24.970438
from_y    60.311917
to_x      24.856034
to_y      60.399941
Name: 0, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.860568
to_y      60.400014
Name: 1, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.865102
to_y      60.400086
Name: 2, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.869636
to_y      60.400159
Name: 3, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.842582
to_y      60.397478
Name: 4, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.847115
to_y      60.397551
Name: 5, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.851648
to_y      60.397624
Name: 6, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.856182
to_y      60.397697
Name: 7, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.860715
to_y      60.397770
Name: 8, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.865249
to_y      60.397843
Name: 9, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.869782
to_y      60.397916
Name: 10, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.829131
to_y      60.395014
Name: 11, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.833664
to_y      60.395087
Name: 12, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.838197
to_y      60.395161
Name: 13, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.842730
to_y      60.395235
Name: 14, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.847263
to_y      60.395308
Name: 15, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.851796
to_y      60.395381
Name: 16, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.856330
to_y      60.395454
Name: 17, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.860863
to_y      60.395527
Name: 18, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.865396
to_y      60.395600
Name: 19, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.869929
to_y      60.395673
Name: 20, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.824748
to_y      60.392696
Name: 21, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.829280
to_y      60.392770
Name: 22, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.833813
to_y      60.392844
Name: 23, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.838346
to_y      60.392918
Name: 24, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.842879
to_y      60.392992
Name: 25, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.847411
to_y      60.393065
Name: 26, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.851944
to_y      60.393138
Name: 27, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.856477
to_y      60.393211
Name: 28, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.861010
to_y      60.393284
Name: 29, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.865543
to_y      60.393357
Name: 30, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.870076
to_y      60.393430
Name: 31, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.820365
to_y      60.390379
Name: 32, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.824897
to_y      60.390453
Name: 33, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.829430
to_y      60.390527
Name: 34, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.833962
to_y      60.390601
Name: 35, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.838495
to_y      60.390675
Name: 36, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.843027
to_y      60.390749
Name: 37, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.847559
to_y      60.390822
Name: 38, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.852092
to_y      60.390895
Name: 39, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.856624
to_y      60.390968
Name: 40, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.861157
to_y      60.391041
Name: 41, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.865690
to_y      60.391114
Name: 42, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.870222
to_y      60.391186
Name: 43, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.874755
to_y      60.391259
Name: 44, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.820515
to_y      60.388136
Name: 45, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.825047
to_y      60.388210
Name: 46, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.829579
to_y      60.388284
Name: 47, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.834111
to_y      60.388358
Name: 48, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.838643
to_y      60.388432
Name: 49, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.843175
to_y      60.388505
Name: 50, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.847708
to_y      60.388579
Name: 51, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.852240
to_y      60.388652
Name: 52, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.856772
to_y      60.388725
Name: 53, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.861304
to_y      60.388798
Name: 54, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.865837
to_y      60.388871
Name: 55, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.870369
to_y      60.388943
Name: 56, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.874901
to_y      60.389016
Name: 57, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.816133
to_y      60.385819
Name: 58, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.820665
to_y      60.385893
Name: 59, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.825197
to_y      60.385967
Name: 60, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.829728
to_y      60.386041
Name: 61, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.834260
to_y      60.386115
Name: 62, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.838792
to_y      60.386189
Name: 63, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.843324
to_y      60.386262
Name: 64, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.847856
to_y      60.386336
Name: 65, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.852387
to_y      60.386409
Name: 66, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.856919
to_y      60.386482
Name: 67, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.861451
to_y      60.386555
Name: 68, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.865983
to_y      60.386628
Name: 69, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.870515
to_y      60.386700
Name: 70, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.875047
to_y      60.386773
Name: 71, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.811752
to_y      60.383501
Name: 72, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.816284
to_y      60.383576
Name: 73, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.820815
to_y      60.383650
Name: 74, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.825346
to_y      60.383724
Name: 75, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.829878
to_y      60.383798
Name: 76, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.834409
to_y      60.383872
Name: 77, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.838941
to_y      60.383946
Name: 78, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.843472
to_y      60.384019
Name: 79, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.848004
to_y      60.384093
Name: 80, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.852535
to_y      60.384166
Name: 81, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.857067
to_y      60.384239
Name: 82, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.861598
to_y      60.384312
Name: 83, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.866130
to_y      60.384384
Name: 84, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.870662
to_y      60.384457
Name: 85, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.875193
to_y      60.384529
Name: 86, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.807372
to_y      60.381184
Name: 87, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.811903
to_y      60.381258
Name: 88, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.816434
to_y      60.381333
Name: 89, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.820965
to_y      60.381407
Name: 90, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.825496
to_y      60.381481
Name: 91, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.830027
to_y      60.381555
Name: 92, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.834558
to_y      60.381629
Name: 93, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.839089
to_y      60.381703
Name: 94, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.843621
to_y      60.381776
Name: 95, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.848152
to_y      60.381850
Name: 96, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.852683
to_y      60.381923
Name: 97, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.857214
to_y      60.381996
Name: 98, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.861746
to_y      60.382069
Name: 99, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.866277
to_y      60.382141
Name: 100, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.870808
to_y      60.382214
Name: 101, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.875340
to_y      60.382286
Name: 102, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.879871
to_y      60.382359
Name: 103, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.802992
to_y      60.378866
Name: 104, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.807522
to_y      60.378941
Name: 105, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.812053
to_y      60.379015
Name: 106, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.816584
to_y      60.379090
Name: 107, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.821115
to_y      60.379164
Name: 108, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.825645
to_y      60.379238
Name: 109, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.830176
to_y      60.379312
Name: 110, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.834707
to_y      60.379386
Name: 111, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.839238
to_y      60.379460
Name: 112, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.843769
to_y      60.379533
Name: 113, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.848300
to_y      60.379606
Name: 114, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.852831
to_y      60.379680
Name: 115, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.857362
to_y      60.379753
Name: 116, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.861893
to_y      60.379826
Name: 117, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.866424
to_y      60.379898
Name: 118, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.870955
to_y      60.379971
Name: 119, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.875486
to_y      60.380043
Name: 120, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.880017
to_y      60.380115
Name: 121, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.884548
to_y      60.380187
Name: 122, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.803143
to_y      60.376623
Name: 123, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.807673
to_y      60.376698
Name: 124, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.812204
to_y      60.376772
Name: 125, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.816734
to_y      60.376847
Name: 126, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.821265
to_y      60.376921
Name: 127, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.825795
to_y      60.376995
Name: 128, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.830326
to_y      60.377069
Name: 129, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.834856
to_y      60.377143
Name: 130, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.839386
to_y      60.377216
Name: 131, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.843917
to_y      60.377290
Name: 132, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.848448
to_y      60.377363
Name: 133, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.852978
to_y      60.377436
Name: 134, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.857509
to_y      60.377510
Name: 135, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.862040
to_y      60.377582
Name: 136, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.866570
to_y      60.377655
Name: 137, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.871101
to_y      60.377728
Name: 138, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.875632
to_y      60.377800
Name: 139, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.880163
to_y      60.377872
Name: 140, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.884693
to_y      60.377944
Name: 141, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.798764
to_y      60.374305
Name: 142, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.803294
to_y      60.374380
Name: 143, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.807824
to_y      60.374455
Name: 144, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.812354
to_y      60.374529
Name: 145, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.816884
to_y      60.374604
Name: 146, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.821414
to_y      60.374678
Name: 147, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.825944
to_y      60.374752
Name: 148, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.830475
to_y      60.374826
Name: 149, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.835005
to_y      60.374900
Name: 150, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.839535
to_y      60.374973
Name: 151, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.844065
to_y      60.375047
Name: 152, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.848596
to_y      60.375120
Name: 153, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.853126
to_y      60.375193
Name: 154, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.857656
to_y      60.375266
Name: 155, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.862187
to_y      60.375339
Name: 156, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.866717
to_y      60.375412
Name: 157, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.871247
to_y      60.375484
Name: 158, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.875778
to_y      60.375557
Name: 159, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.880308
to_y      60.375629
Name: 160, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.884839
to_y      60.375701
Name: 161, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.889369
to_y      60.375773
Name: 162, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.794385
to_y      60.371987
Name: 163, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.798915
to_y      60.372062
Name: 164, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.803445
to_y      60.372137
Name: 165, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.807975
to_y      60.372212
Name: 166, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.812504
to_y      60.372286
Name: 167, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.817034
to_y      60.372361
Name: 168, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.821564
to_y      60.372435
Name: 169, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.826094
to_y      60.372509
Name: 170, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.830624
to_y      60.372583
Name: 171, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.835154
to_y      60.372657
Name: 172, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.839684
to_y      60.372730
Name: 173, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.844214
to_y      60.372804
Name: 174, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.848744
to_y      60.372877
Name: 175, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.853274
to_y      60.372950
Name: 176, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.857804
to_y      60.373023
Name: 177, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.862334
to_y      60.373096
Name: 178, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.866864
to_y      60.373169
Name: 179, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.871394
to_y      60.373241
Name: 180, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.875924
to_y      60.373314
Name: 181, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.880454
to_y      60.373386
Name: 182, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.884984
to_y      60.373458
Name: 183, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.889515
to_y      60.373530
Name: 184, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.894045
to_y      60.373602
Name: 185, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.790008
to_y      60.369669
Name: 186, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.794537
to_y      60.369744
Name: 187, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.799066
to_y      60.369819
Name: 188, dtype: float64
from_x    24.970438
from_y    60.311917
to_x      24.803596

**NOTE: After you have solved this problem, we recommend that you restart the kernel and run all cells again!**

In [9]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION

# This test print should print out the first origin and destination coordinates in the two lists:
print("ORIGIN X Y:", orig_points[0].x, orig_points[0].y)
print("DESTINATION X Y:", dest_points[0].x, dest_points[0].y)

#Check that you created a correct amount of points:
assert len(orig_points) == len(data), "Number of origin points must be the same as number of rows in the original file"
assert len(dest_points) == len(data), "Number of destination points must be the same as number of rows in the original file"

IndexError: list index out of range

Remember to commit your code using git after each major change (for example, after solving each problem).

## Done!

That's it. Now you are ready to continue for the final Problem 4.

## Problem 4: Creating LineStrings that represent the movements (*5 points*):

This task continuous where we left in Problem 3. In this problem, the goal is to create lines (Shapely LineString objects) between each origin-destination pair.
   
1: Create a list called `lines`

In [ ]:
# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
lines=[]

In [ ]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION

# Lines length should be zero at this stage:
print('lines length:', len(lines))

2a: Create a Shapely LineString -object for each origin and destination pair

  - Alternative 1: You can take advantage of `range()` function and index values to access the values from two lists at the same time inside a for-loop.
     
  - Alternative 2: You can use `zip()` function to iterate over many lists at the same time. [See hints for this week](https://autogis-site.readthedocs.io/en/latest/lessons/L1/exercise-1.html#iterating-multiple-lists-simultaneously)
  
2b: Add each LineString object into the `lines` -list you created before.

In [ ]:
# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
for coords in zip(orig_points,dest_points):
    line_coords=LineString(coords)
    lines.append(line_coords)

**NOTE: After you have solved this problem, we recommend that you restart the kernel and run all cells again! There is a risk that you append the same points to the lists many times if you run the cell multiple times without restarting the kernel.**

In [ ]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION

#Test that the list has correct number of LineStrings
assert len(lines) == len(data), "There should be as many lines as there are rows in the original data"

In [ ]:
type(lines[0])

3: Create a variable called **`total_length`**, and store the total (Euclidian) distance of all the origin-destination LineStrings that we just created into that variable.

  - Hint: You might want to iterate over the lines and update the total lenght on each iteration.

In [ ]:
# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
import numpy as np
total_length=0
for line in lines:
    distance=line.length
    total_length+=distance

In [ ]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION

# This test print should print the total length of all lines
print("Total length of all lines is", round(total_length, 2))

4: write the previous parts, i.e. the creation of the LineString and calculating the total distance, into dedicated functions:  

- `create_od_lines()`: Takes two lists of Shapely Point -objects as input and returns a list of LineStrings
- `calculate_total_distance()`: Takes a list of LineString geometries as input and returs their total length

You can copy and paste the codes you have written earlier into the functions. Below, you can find a code cell for testing your functions (you should get the same result as earler).

**Note: avoid using the same variable names as earlier inside your functions!** Functions are often defined at the top of the script file (or jupyter notebook), and now that we have them here at the very end you might accidentally alter an existing variable inside your functions. To avoid this, alter the variable names inside your own functions if you re-use code from this notebook.

In [ ]:
# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
list1=[]
list2=[]
def create_od_lines(list1,list2):
    for start,end in zip(list1,list2):
        lines=LineString(start,end)
    return(lines)

In [ ]:
def calculate_total_distance(lines):
    tot_length=0
    for line in lines:
        distance=lines.length
        tot_length+=distance
        return tot_length

In [ ]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION

# Use the functions
# -----------------

# Create origin-destination lines
od_lines = create_od_lines(orig_points, dest_points)

# Calculate the total distance
tot_dist = calculate_total_distance(od_lines)

print("Total distance", round(tot_dist,2))


## All done!

Awesome, now you have successfully practiced how geometries can be created in Python. Next week we will start using them actively.